/**************************************/
.contenedor-iconos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #29411D;
  }

  .columna {
    text-align: center;
    padding:0px;
    padding-top: 15px;
  }

  .columna:hover{
    background-color: #f6a700;
  }
  
  .enlace {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .icono-1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 50px;
    color: #ffffff;
  }

  .m1 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  @media (max-width: 600px) {
    .contenedor-iconos {
      grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      padding-bottom: 0px;
      padding-top: 0px ;
      gap: 12px;
    }
  
    .contenedor-iconos .fila1 {
      grid-column: span 3; 
    }
    
    .contenedor-iconos .fila2 {
      display: flex;
      justify-content: center;
      align-self: center;
      align-content: center; 
    }
    
    .contenedor-iconos .fila2 .columna {
      flex: 1; 
      text-align: center;
      align-self: center; 
      justify-content: center;
      align-content: center;
    }
  
    .icono-1 {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid #ffffff;
      font-size: 60px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      color: #ffffff;
    }

    .m1{
        font-size: 11px;
    }
  }


/************------------------------------------**********/

.cont-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-content: center;
    width: 80%;
    margin: 10px auto;
  }
  
  .item {
    flex: 1 1 calc(33% - 40px);
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px;
    align-items: center;
    align-content: center;
    align-self: center;
  }
  
  .item img {
    max-width: 90%;
  }
  
  h3 {
    font-size: 1.1em;
    margin: 10px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  
  .botones {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .btn-1 {
    padding: 3px 10px;
    border-radius: 100px;
    cursor: pointer;
    flex: 1;
    margin: 5px;
    background: transparent;
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #668358, #29411D);
    background-clip: padding-box, border-box;
    color: #29411D;
  }
  
  .btn-2 {
    padding: 5px 10px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(to right, #668358, #29411D);
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .columna-1, .columna-2 {
        flex: 1 1 100%; 
    }
  
    .item {
        flex: 1 1 calc(50% - 40px);
    }
  }
  
  @media (max-width: 430px) {
    .item {
        flex: 1 1 calc(50% - 40px);
        margin: 0px;
        padding: 0px;
    }
  
    .item img {
        max-width: 100%;
    }
  }

  /*---------------------------------------------------------------------------------------*/
.cont-4 {
    background-color: #000000;
    padding: 40px;
  }
  
  .cont-4-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #000000;
  }
  
  .column {
    flex: 1;
    min-width: 250px;
    box-sizing: border-box;
    padding: 10px;
    color: #ffffff;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .column {
        border-top: 1px solid rgba(255, 255, 255, 0.397);
        padding: 15px ;
  
    }
  
    .column:first-child {
        border-left: none; 
    }
  
    .column:last-child {
        border-right: none;
    }
  }
  
  @media (max-width: 768px) {
    .images {
        margin: 0 auto;
        width:60%; 
        height: auto;
        justify-items: center; 
        align-items: center;
        align-self: center;
        text-align: center;
        
    }
  }
  
  .images {
    justify-content: space-between;
    grid-template-columns: 1fr;
  }
  
  .images img {
    max-width: 48%; 
    height: auto;
  }
  
  h2{
    font-size: 0.7rem;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  .img-logo-1{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 5px;
    
  }
  
  .img-logo-1 img{
    height: auto;
    width: 50%;
  }
  
  @media (max-width: 768px) {
    .img-logo-1 img {
        padding: 0;
        width: 100%;
        margin: 0 auto;
  
    }
  }
  
  .text{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .t1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9rem;
    
  }
  
  .t2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
  }

  /**********************************************************/
.social-bar {
    position: fixed;
    top: 75%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1000;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  @media (max-width: 576px) { 
    .social-bar { 
      padding: 10px; 
      top: 70%
    } }
  
  .social-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-bar ul li {
    margin-bottom: 5px;
  }
  
  .social-bar ul li a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  @media (max-width: 576px) { .social-bar ul li a{ 
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  } }
  
  .social-bar ul li a:hover {
    background-color: #555;
  }
  
  
  .social-bar ul li .icon-facebook { background-color: #29411D; }
  .social-bar ul li .icon-instagram { background-color: #29411D; }
  .social-bar ul li .icon-tiktok { background-color: #29411D }
  .social-bar ul li .icon-youtube { background-color: #29411D; }
  .social-bar ul li .icon-whatsapp { background-color: #29411D; }
  
  
  .social-bar ul li a i {
    display: inline-block;
  }

  /************************************/

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#modalImage {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
}

#modalContent {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modalImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

}

#pdfViewer {
    width: 100%;
    height: 100%;
}